
@model MyPortfolioSite.Models.Context_Model

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Date Base</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="modal fade" id="CreatePeople" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Create new person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_create_person" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Person name:</label>
                            <input id="person_name" type="text" name="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Person phone:</label>
                            <input id="person_phone" type="text" name="Phone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input id="person_avatar" type="file" name="upload" /><br>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" id="btn_submit_create_people" class="btn btn_modal">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CreateProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Create new person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_create_project" enctype="text/plain">
                        <div class="form-group">
                            <label>Project name:</label>
                            <input id="person_name" type="text" name="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Project price:</label>
                            <input id="person_phone" type="text" name="Price" class="form-control" />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" id="btn_submit_create_project" class="btn btn_modal">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="section_3">
        <contaner class="h100">
            <div class="tablebag">
                <div class="row">
                    <div class="col-sm">
                        <div class="card-body">
                            <h5 class="card-title">Persons</h5>
                            <button type="button" class="btn badge-success btnAddPerson btn-sm" data-toggle="modal" data-target="#CreatePeople">
                                Add People
                            </button>
                            <table id="table_people" class="table table-dark table-bordered table-responsive-md">
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            ID
                                        </th>
                                        <th class="text-center">
                                            Avatar
                                        </th>
                                        <th scope="col" class="text-left">
                                            Name
                                        </th>
                                        <th scope="col" class="text-left">
                                            Phone
                                        </th>
                                        <th scope="col" class="text-center">
                                            ACTIONS
                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model.Peoples_Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                <div class="foto">
                                                    <img src="~/Fotos/@item.FotoName" class="img-fluid" accept="image/*" />
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td class="text-center">
                                                <a href="@Url.Action("EditPeople", "Home", new { id = item.Id })" class="badge badge-pill badge-primary" role="button" aria-pressed="true">Edit</a>
                                                <button onclick="Delete_People_function(@item.Id)" class="badge badge-pill badge-danger" aria-pressed="true">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <h5 class="card-title">Projects</h5>
                            <button type="button" class="btn badge-success btnAddProject btn-sm" data-toggle="modal" data-target="#CreateProject">
                                Add Project
                            </button>
                            <table class="table table-dark table-bordered table-responsive-md">
                                <tr>
                                    <th class="text-left">
                                        ID
                                    </th>
                                    <th scope="col" class="text-left">
                                        Name
                                    </th>
                                    <th scope="col" class="text-left">
                                        Price
                                    </th>
                                    <th scope="col" class="text-center">
                                        ACTIONS
                                    </th>
                                </tr>

                                @foreach (var item in Model.Projects_Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("EditProject", "Home", new { id = item.Id })" class="badge badge-pill badge-primary" role="button" aria-pressed="true">Edit</a>
                                            <button onclick="Delete_Project_function(@item.Id)" class="badge badge-pill badge-danger" aria-pressed="true">Delete</button>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="card-body">
                            <h5 class="card-title">Persons in Projacts</h5>
                            <table class="table table-dark table-bordered table-responsive-md">
                                <tr>
                                    <th scope="col" class="text-left">
                                        Person name
                                    </th>
                                    <th scope="col" class="text-left">
                                        Person's projects
                                    </th>
                                    <th scope="col" class="text-center">
                                        ACTIONS
                                    </th>
                                </tr>

                                @foreach (var item in Model.Peoples_Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @foreach (var project in item.Projects)
                                            {
                                                @Html.DisplayFor(modelItem => project.Name)<br />
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("AddProjectToPeople", "Home",  new { id = item.Id })" class="badge badge-pill badge-success" role="button" aria-pressed="true">Add person to project</a>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </contaner>
    </section>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $(document).ready(function() {
            $(document).on('submit', '#form_create_person', function(e) {
                e.preventDefault();
                var formData = new FormData();
                var ava = document.getElementById("person_avatar").files[0];

                formData.append('Name', $('#person_name').val());
                formData.append('Phone', $('#person_phone').val());
                formData.append('upload', ava);

                $.ajax({
                    url: '@Url.Action("Create", "Person")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function () {
                        location.reload();
                    }
                });
           });
        });

        $(document).ready(function() {
            $(document).on('submit', '#form_create_project', function(e) {
                e.preventDefault();
                var formData = $("#form_create_project").serialize();
                //var ava = document.getElementById("person_avatar").files[0];

                //formData.append('Name', $('#person_name').val());
                //formData.append('Phone', $('#person_phone').val());
                //formData.append('upload', ava);

                $.ajax({
                    url: '@Url.Action("Create", "Project")',
                    type: 'POST',
                    data: formData,
                    success: function () {
                        location.reload();
                    }
                });
           });
        });

        function Delete_People_function(ID) {
            var user_id = ID;
            $.ajax({
                url: '@Url.Action("Delete", "Person")',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: { id: user_id },
                success: function () {
                    location.reload();
                }
            });
        }

        function Delete_Project_function(ID) {
            var user_id = ID;
            $.ajax({
                url: '@Url.Action("Delete", "Project")',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: { id: user_id },
                success: function () {
                    location.reload();
                }
            });
        }
    </script>

</body>
</html>
