<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Stylses/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("REST_API", "Home")">REST API</a></li>
                <li><a href="@Url.Action("DataBase", "Home")">Data Base</a></li>
                <li><a href="@Url.Action("Crypto", "Home")">Crypto</a></li>
                <li><a href="@Url.Action("ScenariosDownload", "Home")">ScenariosDownload</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('.menu-toggle').toggleClass('active');
                $('nav').toggleClass('active');
            })
        })
    </script>
</body>
</html>
