<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Images/logo.png" width="226" height="124" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link"><span>Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("About", "Home")" class="nav-link"><span>About</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Contact", "Home")" class="nav-link"><span>Contact</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("PostGetRequest", "Home")" class="nav-link"><span>PostGetRequest</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("EntityFramework_and_DB", "Home")" class="nav-link"><span>EntityFramework_and_DB</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center text-danger">&copy; @DateTime.Now.Year – my asp.net portfolio site</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
